.order {
  width: 100%;
  max-width: 1333px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  &_content {
    width: 100%;
    max-width: 480px;
  }

  &_title {
    margin: 57px 0 30px 0;
    font-size: 36px;
    font-weight: 500;
  }

  &_sub_title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  &_total {
    margin-top: 175px;
    padding: 40px;
    width: 450px;
    height: 353px;
    flex-shrink: 0;
    background: var(--BG, #F8F8F8);

    &_price {
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;

      &_wrp {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }

      &_title {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
      }
    }

    &_btn {
      margin-top: 40px;
      background-color: black;
      color: white;
    }

    &_title {
      font-size: 30px;
      font-weight: 400;
      margin: 0 0 40px 0;
    }

    &_products {
      font-size: 20px;
      font-weight: 400;

      &_wrp {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--gray-80, #707070);
      }
    }
  }
}