.wrap {
    margin: auto;
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    margin-top: 110px;

    @media(max-width: 1023px) {
        margin: 0 10px;
        margin-top: 41px;
    }
}



.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 110px;

    @media(max-width: 767px) {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 60px;
    }

    @media(max-width: 420px) {
        grid-template-columns: 1fr 1fr
    }



    &_title {
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.hero {
    &_wrp {
        margin-top: -22px;
        margin-left: 66%;
        width: 100%;

        z-index: 1000;
        color: white;

        @media(max-width: 1023px) {
            margin-left: 20px;
            margin-top: 0;
        }
    }

    &_top {
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media(max-width: 1023px) {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 142.857% */
        }
    }

    &_title {
        font-family: Raleway;
        font-size: 100px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 36px 0;

        @media(max-width: 1023px) {
            margin: 10px 0;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &_text {
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media(max-width: 1023px) {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &_btn {
        margin-top: 73px;
        height: 46px;
        width: 168px;
        background-color: black;
        color: white;

        @media(max-width: 1023px) {
            margin-top: 26px;
            height: 36px;
            width: 87px;
        }
    }
}

.instagram {
    margin-top: 109px;

    &_title {
        color: #000;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @media(max-width: 1023px) {
        margin-top: 0;
    }
}