.swiper-pagination-bullet-active {
  background-color: black;
  opacity: 1 !important;
  height: 6px;
  width: 6px;

}

.swiper-pagination-bullet {
  background-color: black;
  opacity: 0.2;
  height: 6px;
  width: 6px;
}
.swiper-pagination{
  display: none !important;
}

.swiper-button-prev{
  display: none;
}
.swiper-button-next{
  display: none;
}