.wrapper {
  max-width: 1333px;
  margin: 30px auto;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  margin: 30px 0 40px 0;
}

.items {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  margin-top: 50px;
  margin-bottom: 119px;
  display: flex;
  justify-content: space-between;

  &_info {
    margin: 0 auto;
    margin-left: 59px;
    width: 508px;

    &_btn {
      max-width: 264px;
      background-color: black;
      color: white;
    }
  }

  &_name {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &_price {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 500;

    &_pv {
      font-size: 28px;
      color: var(--gray-80, #707070);
      font-weight: 500;
      text-transform: capitalize;
      margin-left: 10px;
    }
  }

  &_description {
    line-height: 24px;
  }

  &_notification {
    border-top: 2px solid var(--gray-80, #707070);
    padding: 20px;
    margin-top: 40px;
    background: var(--BG, #F8F8F8);

   &>* {
      max-width: 100%;
    }
  }

}

.photos {
  margin: 0 auto;
  display: flex;
  cursor: pointer;

  &_main {

    margin-left: 33px;
    object-fit: cover;
    width: 613px;
    flex-shrink: 0;
    &>img{
      width: 100%;
      max-height: 627px;
      object-fit: cover;
 
    }
  }
}

.block_titles {
  margin-bottom: 60px;
}

.block_wrp{
  max-width: 800px;
}

.img {
  &_wrp {}
object-fit: cover;
  width: 126px;
  max-height: 126px;
}