.wrapper {

  display: grid;
  grid-template-columns: 0.49fr 1fr;

}

.content {
  justify-content: center;
  width: 100%;
  background: var(--BG, #F8F8F8);
  padding-bottom: 30px;
  padding-left: 46%;

}

.title {
  cursor: pointer;
  padding-top: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  margin-bottom: 20px;

}

.categorie {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  max-width: 320px;
  margin-right: 20px;

  &_current {
    padding: 0px 30px;
    cursor: pointer;
    margin: 8px 0;
  }

  &_children {

    /* 125% */
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      background: center/cover no-repeat url("../../../../assets/svg/arrowRight.svg");
    }
  }


}

.brand {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  /* 125% */
}

.link {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  /* 125% */
}

.img {
  margin-left: 5px;
  max-width: 480px;
  max-height: 282px;
  flex-shrink: 0;
  padding-top: 32px;

}


.menu {
  background: var(--BG, #F8F8F8);
  display: grid;
  grid-template-columns: 2fr 2.64fr;
  padding-left: 30px;
  padding-bottom: 32px;

  &_white {
    padding-bottom: 32px;
    background: white;
    display: grid;
    grid-template-columns: 2fr 2.5fr;

    &_items {
      padding-top: 68px;
    }
  }
}