.ant-steps-item-icon{

  border-color: black !important;
  margin: 0 !important;
  height: 40px !important;
  width: 40px !important;
  padding-top: 3.8px;

}
.ant-steps-icon{
  color: black !important;
}
svg{
  fill: black !important;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  inset-inline-start: none !important;
  background-color: black !important;
  margin-top: 4px;
}

.ant-steps .ant-steps-item-icon {
  margin-inline-end: 0;
}

.ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  margin-top: 4px;

}

.ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  padding-inline-start:0 !important
}

.ant-steps .ant-steps-item-title::after {
  margin-left: -17px;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon{
  background-color: white !important;
}



.ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: transparent !important;
  border-color: var(--gray, #ECECEE) !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: black !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon >.ant-steps-icon {
  color: white !important;
}