.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 886px;

}

.title {
  font-size: 30px;

  font-weight: 400;
}

.gray {
  color: var(--gray-80, #707070);
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 24px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.history {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid var(--gray, #ECECEE);
  ;
}

.btns {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  width: 180px;

  &_black {
    background-color: black;
    color: white;
  }

  :last-child {
    width: 183px;
  }
}

.text {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
}

.date {
  &_wrp {
    max-width: 300px;
  }
}

.balance {
  max-width: 200px;
  width: 100%;
}

.filters {
  display: flex;
  margin-top: 27px;
  gap: 40px;

  &_select {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 300px;

    &_label {

      margin-bottom: 10px;
    }
  }
}