.wrap {
  position: relative;
  height: 260px;
  display: flex;
padding-top: 20px;
  @media(min-width: 1024px) {
    padding-top: 0;
    height: 670px;
    align-items: center;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;

  &>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.filter{
  z-index: 2;
}

