.wrap {
  background: var(--BG, #F8F8F8);
  width: 320px;
}




.info {
  width: 100%;

  & p {
    margin: 0;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dde7ed;
  flex-shrink: 0;
}

.links {
  flex: 1 1 auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
  padding-right: 0;

  box-sizing: border-box;

  &_item {


    list-style-type: none;
    position: relative;
    width: 100%;

    &_noactive {
      display: flex;
      width: 100%;
      text-decoration: none;
      color: var(--black-text, #2F2F30);
      font-size: 20px;
      font-weight: 400;
    }

    &_active {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--black-text, #2F2F30);
      font-size: 20px;

      &:after {
        position: absolute;
        right: 0;
        content: "";
        display: block;
        width: 2px;
        height: 23px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background: var(--Black, #000);
        position: absolute;

      }
    }
  }
}

.referal {
  display: flex;
  width: 320px;
  height: 80px;
  padding: 20px 22px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray, #ECECEE);
  background: var(--White, #FFF);
  font-size: 20px;
  font-weight: 400;
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;
  width: 320px;
  height: 135px;
  background: right bottom no-repeat url("../../assets/img/referal.png");
  &_link {
    width: 137px;
  }

}

.support {
  width: 320px;
  height: 135px;
  flex-shrink: 0;
  padding-left: 20px;
  border: 1px solid var(--gray, #ECECEE);
  background: right bottom no-repeat url("../../assets/img/nav-support-img.png");

  &_link {
    font-weight: 500;
    text-decoration-line: underline;
  }

  &_title {
    font-size: 20px;
    font-weight: 400;
    max-width: 151px;
    margin-bottom: 30px;
  }
}


.become {
  margin-top: 10px;
  width: 320px;
  height: 135px;
  flex-shrink: 0;
  padding-left: 20px;
  border: 1px solid var(--gray, #ECECEE);
  background: right bottom no-repeat url("../../assets/img/becomePartner.png");


  &_link {
    cursor: pointer;
    font-weight: 500;
    text-decoration-line: underline;
  }

  &_title {
    font-size: 20px;
    font-weight: 400;
    max-width: 160px;
    margin-bottom: 30px;
  }
}