.react-datepicker-wrapper {
  display: flex;
  width: 100%;
  position: relative;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
  }


  & input {
    display: flex;
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: flex-start;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;


  }


}

.react-datepicker {
  display: flex;
  width: 100%;
  z-index: 999;

}