.input {
  width: 100%;
  border: none;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  &_wrp {
    width: 100%;
    margin-top: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  flex-direction: column;
    display: flex;
  }

}

input {
  padding: 0;
  padding-bottom: 14px;

}

.invalid {
  input {
    color: red;
  }

  border-bottom: red 1px solid;
}

.valid {
  input {
    color: black;
  }

  border-bottom: #707070 1px solid;
}

.error{
  display: block;
  margin-top: 15px;
  color: red;
  font-size: 14px;
}

.label{
  margin-bottom: 4px;
}
