.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 886px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ECECEE;
}

.top {
  display: flex;
  justify-content: space-between;

  &_info {
    display: flex;
    gap: 24px;
    margin-top: 15px;
  }

  &_gray {
    color: var(--gray-80, #707070);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.btn {
  width: 112px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  &_left {
    display: flex;
    gap: 20px;
  }

  &_count {
    color: var(--gray-80, #707070);
    font-size: 16px;
    font-weight: 400;
  }

  &_total {
    color: var(--gray-80, #707070);
    font-size: 16px;
    font-weight: 400;
    text-align: end;
    margin-bottom: 6px;
  }

  &_price {
    font-size: 30px;
    font-weight: 400;

    &_pv {
      color: var(--gray-80, #707070);
      font-size: 30px;
      font-weight: 400;
    }
  }
}

.img {
  width: 60px;
  height: 60px;
  object-fit: cover;

  &_counter {
    background: var(--BG, #F8F8F8);
    display: flex;
    width: 60px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
  }

  &_wrp {
    display: flex;
    gap: 7px;
  }
}